<!doctype html>
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>算法作业 布料裁剪 show</title>


<style type="text/css">

.qhb{
    border: none;
    width: 338px; 
    height: 153px; 
    background: url(/static/img/qhb.jpg) no-repeat center;
    cursor:pointer;
}

#result {
    position: absolute; 
    top: 100px; 
    left: 350px;
}

#fail {
    position: absolute; 
    top: 100px; 
    left: 150px;
}
</style>
<!-- build:css({.tmp,app}) styles/main.css 
<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/main.css">
 endbuild -->

<a href="/"><h2>返回首页</h2></a>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/processing.js/1.4.16/processing.min.js"></script>
<script type="text/javascript">
    var canvas = [200, 100];

    var pieces = [[0, 0, 10, 10], [20, 20, 100, 10]];
    var instance = Processing.getInstanceById("cloth");

    function initcanvas() {
        instance = Processing.getInstanceById("cloth");
        canvas[0] = document.getElementById("clength").value;
        canvas[1] = document.getElementById("cwidth").value;
        instance.setup();
    }

    function showSolution(data) {
        pieces = data.solution;
        var testdatas = data.data[0],
            line = testdatas.split('\n')[0].split(' ');
        canvas[0] = line[0];
        canvas[1] = line[1];

        $("#clength").val(line[0]);
        $("#cwidth").val(line[1]);
        $("#target").val(testdatas);
        $("#solution").val(data.solution);
        for (var i in pieces) {
            pieces[i][2] = pieces[i][2] - pieces[i][0];
            pieces[i][3] = pieces[i][3] - pieces[i][1];
        }
        if (typeof(instance) === "undefined") {
            instance = Processing.getInstanceById("cloth");
            instance.setup();
            instance.drawFabric();
        }
        else {
            instance.setup();
            instance.drawFabric();
        }
    }

    function clip() {
        var target = document.getElementById("target").value;
        canvas[0] = document.getElementById("clength").value;
        canvas[1] = document.getElementById("cwidth").value;
        
        var radio = document.getElementsByName("form1");
        var radioValue = "";
        for (var i in radio) {
            if (radio[i].checked) {
                radioValue = radio[i].value;
            }
        }
        $.post({
            url: '/clip',
            dataType: 'json',
            data: JSON.stringify({'canvas':canvas, 'pieces':target, 'type':radioValue}),
            success: function (data) {
                pieces = data.solution;
                instance = Processing.getInstanceById("cloth");
                instance.setup();
                instance.drawFabric();
            }
        });
    }
</script>
<script type="application/processing" data-processing-target="cloth">
int times = 5;
void setup() {
    int max = 1000;
    if (max / canvas[0] < max / canvas[1]) {
        times = max / canvas[0];
    }
    else {
        times = max / canvas[1];
    }
    size(canvas[1] * times, canvas[0] * times);
    background(180);
    stroke(100);

}

void drawFabric() {
    for (int i = 0; i < pieces.length(); i++) {
        for (int j = 0; j < 4; j++) {
            pieces[i][j] *= times;
        }
        rect(pieces[i][0],pieces[i][1],pieces[i][2],pieces[i][3]);
    }
}
</script>
</head>
<body>

<!-- build:js scripts/modules.js 
  <script src="/static/js/jquery-2.0.3.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/d3.min.js"></script>
-->  
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js 
  <script src="static/js/app.js"></script>
  <script src="static/js/controllers/main.js"></script>  
  endbuild -->

<div style="float:left">
<input type = "radio" id = "form1" name = "form1" value = "search">全局搜索
<input type = "radio" id = "form1" name = "form1" value = "greedy">贪心
<p>请输入布匹大小</p>
长度: <input id="clength" type="text" value="200" onchange="initcanvas()"></input>
宽度: <input id="cwidth" type="text" value="100" onchange="initcanvas()"></input>

<p>请输入目标块的大小</p>
<p> 一行两个数字， 长度和宽度</p>
<textarea id="target" style="height:250px; width:200px" onchange="clip()">
</textarea>
<textarea id="solution" style="height:250px; width:200px">
</textarea>
</div>
<div style="float:right">
<!--<canvas id="cloth" data-processing-sources="/pde/clip-fabric.pde"></canvas>
    -->
<canvas id="cloth"></canvas>  
</div>

<br>
<div style="float:left">
<pre> {{ source }} </pre>
<div>

<script src="/static/js/solution.js"></script>
<script defer="defer" type="text/javascript">
    $(document).ready(setTimeout(getSolution(), 1000));
</script>
</body>
</html>
