<!doctype html>
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>算法作业 红包 show</title>

<style type="text/css">
.bg {
    float: right;
    width:300px;
}
#result {
    position: absolute; 
    top: 100px; 
    left: 350px;
}
</style>

<!-- build:css({.tmp,app}) styles/main.css -->    
<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/main.css">
<!-- endbuild -->
</head>
<body>

<!-- build:js scripts/modules.js 
  <script src="/static/js/jquery-2.0.3.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/d3.min.js"></script>
-->  
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js 
  <script src="static/js/app.js"></script>
  <script src="static/js/controllers/main.js"></script>  
  endbuild -->

<a href="/">返回首页</a>
<br>
<hr>


</hr>

以下结果是以 100元分配给10人， 实验10000次的结果
<br>

<img src="data:image/png;base64,{{ png }}"/>

<br>
</hr>
<br>
代码以下

<br>
<br>
<pre> {{ source }} </pre>

</body>
</html>
