{% extends "base.html" %}
{% block body %}

<!--<link rel="stylesheet" type="text/css" href="/static/css/style.css" />-->
<script src="static/js/rollcall.js"></script>
<script src="static/js/UploadFile.js"></script>

<h1 class="keTitle">
    <a href="/">返回首页</a>
    算法作业 点名
</h1>

<div>
    可上传文件
    <input type="file" id="file" onchange="uploadFiles(this.files)">
    <br> 每行格式： 姓名,点名次数（可选),缺课次数（可选）
</div>

<div class="kePublic">
    <!--效果html开始-->
    <div style="width:620px;margin:20px auto 0 auto;">
        <input type="button" value="开始点名" onClick="spin();" style="float: left;" />
       <!-- <input type="button" value="重新点名" onClick="reset();"
            style="float: left;" />-->
        <input type="button" value="缺席" onClick="absent();" style="float: left;" />
        <input type="button" value="保存" onClick="save();" style="float: left;" />
        <div id="downloadLinkWrap"></div>
        <canvas id="wheelcanvas" width="1000" height="1000"></canvas>
    </div>

    <script type="text/javascript">
        initDraw();
    </script>

    <div class="clear"></div>
</div>
<div class="keBottom">
    <p class="keTxtP">科e互联网页特效集锦---更多特效请访问 <a class="keUrl" href="http://www.internetke.com" target="_blank">www.internetke.com</a></p>
    </p>
    <p class="keTxtP">＊尊重他人劳动成果，转载请自觉注明出处！注：此代码为【科e整理/原创特效】仅供学习交流，请勿用于商业用途。
</div>
{% endblock %}
